@use '../var/colors' as *;

.auth-button {
  background: $light;
  border: none;
  color: $brown;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
